.button {
  background: #dc872c;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  padding: 10px 20px;
  font-family: 'new Tegomin', serif;
  cursor: pointer;
  box-shadow: #333 3px 3px;
}

.button:hover {
  background: #a40000;
}
